<a href="https://colab.research.google.com/github/NNEKUS/-data-engineering-project-template./blob/main/Copy_of_My_Data_Cleaning_and_Enrichment_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

from time import sleep
from random import randint

In [ ]:
def get_count():
    url = "https://www.worldometers.info/coronavirus/"

    r = requests.get(url)
    html = r.text

    soup = BeautifulSoup(html)
    table = soup.find('table', {"class": "table table-bordered table-hover main_table_countries"})
    rows = table.find_all('tr')
    data = []

    for row in rows[1:]:
      cols = row.find_all('td')
      cols = [ele.text.strip() for ele in cols]
      data.append([ele for ele in cols if ele])

    # result = pd.DataFrame(data, columns = ['CountryOther',    'TotalCases',    'NewCases',    'TotalDeaths',    'NewDeaths',    'TotalRecovered',    'ActiveCases',    'Serious/Critical',    'TotCases/1Mpop',    'Deaths/1Mpop'])

    # Step 3: Analyze the HTML tag, where your content lives

    # Find the country list table in the webpage, using find returns the first occurence 
    my_table = soup.find('table',{'id':'main_table_countries_today'})

    # Find all table rows in the first table (i.e. the table of interest)
    table_rows = my_table.find_all('tr')

    # Since the country names are the first button in each row, find all buttons from the 
    # 1st row and return their text. 
    # we use 'td' because td is the closing html tag
    countries = [row.find('td') for row in table_rows]

    # print(countries)

    pd.options.display.max_rows
    pd.options.display.max_rows = 999
    df = pd.DataFrame()
    df['Country'] = countries
    df

    cases=[]
    for row in table_rows:
        cols=row.find_all('td')
        cols=[x.text.strip() for x in cols]
        cases.append(cols)

    # Getting attribute name 
    # find the tables 
    attribute_tag = my_table.find_all('th')
    attribute=[]
    for i in attribute_tag:
        attribute.append(i.text)

    df=pd.DataFrame(cases,columns=attribute)

    df_new=df[1:-1]

    result = df_new.fillna("Nan")

    return result

In [ ]:
df_test = get_count()
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 1 to 246
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   #                    246 non-null    object
 1   Country,Other        246 non-null    object
 2   TotalCases           246 non-null    object
 3   NewCases             246 non-null    object
 4   TotalDeaths          246 non-null    object
 5   NewDeaths            246 non-null    object
 6   TotalRecovered       246 non-null    object
 7   NewRecovered         246 non-null    object
 8   ActiveCases          246 non-null    object
 9   Serious,Critical     246 non-null    object
 10  TotÂ Cases/1M pop     246 non-null    object
 11  Deaths/1M pop        246 non-null    object
 12  TotalTests           246 non-null    object
 13  Tests/
1M pop
       246 non-null    object
 14  Population           246 non-null    object
 15  Continent            246 non-null    object
 16  1 Caseevery X ppl    246 non-null    object
 17  1 Deathevery X ppl   246 non-null    object
 18  1 Testevery X ppl    246 non-null    object
 19  New Cases/1M pop     246 non-null    object
 20  New Deaths/1M pop    246 non-null    object
 21  Active Cases/1M pop  246 non-null    object
dtypes: object(22)
memory usage: 42.4+ KB

In [ ]:
df_test

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",TotÂ Cases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop\n,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
1,,North America,"123,249,732",+789,"1,595,841",+8,"118,214,446","+6,215","3,439,445","8,738",,,,,,North America,,,,,,
2,,Asia,"212,602,852","+52,167","1,528,229",+291,"197,108,394","+98,082","13,966,229","16,037",,,,,,Asia,,,,,,
3,,Europe,"244,707,414","+8,582","2,004,973",+85,"240,352,569","+49,656","2,349,872","6,552",,,,,,Europe,,,,,,
4,,South America,"67,679,713",+203,"1,346,955",,"65,722,703","+7,029","610,055","10,236",,,,,,South America,,,,,,
5,,Oceania,"13,888,211","+1,510","25,232",+4,"13,718,809","+1,981","144,170",77,,,,,,Australia/Oceania,,,,,,
6,,Africa,"12,771,837",,"258,487",,"12,057,437",,"455,913",547,,,,,,Africa,,,,,,
7,,,721,,15,,706,,0,0,,,,,,,,,,,,
8,,World,"674,900,480","+63,251","6,759,732",+388,"647,175,064","+162,963","20,965,684","42,187","86,583",867.2,,,,All,,,,,,
9,1,USA,"104,115,370",,"1,132,256",,"101,241,496",,"1,741,618","3,572","310,973","3,382","1,159,352,643","3,462,767","334,805,269",North America,3,296,0,,,"5,202"
10,2,India,"44,682,719",,"530,740",,"44,150,131",,"1,848",698,"31,766",377,"915,265,788","650,679","1,406,631,776",Asia,31,"2,650",2,,,1
11,3,France,"39,516,469",,"164,080",,"39,245,349",,"107,040",869,"602,527","2,502","271,490,188","4,139,547","65,584,518",Europe,2,400,0,,,"1,632"
12,4,Germany,"37,739,472",,"165,441",,"37,354,800","+26,400","219,231","1,281","449,903","1,972","122,332,384","1,458,359","83,883,596",Europe,2,507,1,,,"2,614"
13,5,Brazil,"36,809,608",,"696,809",,"35,812,908",,"299,891","8,318","170,926","3,236","63,776,166","296,146","215,353,593",South America,6,309,3,,,"1,393"
14,6,Japan,"32,485,787","+21,426","67,845",+206,"21,559,347","+7,092","10,858,595",531,"258,676",540,"90,589,390","721,340","125,584,838",Asia,4,"1,851",1,171,2,"86,464"
15,7,S. Korea,"30,157,017","+7,416","33,420",+30,"29,664,653","+43,924","458,944",402,"587,514",651,"15,804,065","307,892","51,329,899",Asia,2,"1,536",3,144,0.6,"8,941"
16,8,Italy,"25,453,789",,"186,833",,"25,014,986",,"251,970",205,"422,380","3,100","265,478,247","4,405,344","60,262,770",Europe,2,323,0,,,"4,181"
17,9,UK,"24,274,361",,"204,171",,"24,008,252","+5,037","61,938",146,"354,381","2,981","522,526,476","7,628,357","68,497,907",Europe,3,335,0,,,904
18,10,Russia,"21,944,400","+5,979","395,022",+38,"21,343,177","+3,861","206,201","2,300","150,504","2,709","273,400,000","1,875,095","145,805,947",Europe,7,369,1,41,0.3,"1,414"
19,11,Turkey,"17,042,722",,"101,492",,N/A,N/A,N/A,,"199,186","1,186","162,743,369","1,902,052","85,561,976",Asia,5,843,1,,,"1,819"
20,12,Spain,"13,731,478",,"118,434",,"13,557,699",,"55,345",231,"293,915","2,535","471,036,328","10,082,298","46,719,142",Europe,3,394,0,,,"1,185"
21,13,Vietnam,"11,526,461",+53,"43,186",,"10,612,447",+3,"870,828",8,"116,484",436,"85,826,548","867,342","98,953,541",Asia,9,"2,291",1,0.5,,"8,800"
22,14,Australia,"11,295,446",,"18,615",,"11,235,771",,"41,060",49,"433,294",714,"78,835,048","3,024,116","26,068,792",Australia/Oceania,2,"1,400",0,,,"1,575"
23,15,Argentina,"10,032,709",,"130,394",,"9,868,430","+5,854","33,885",363,"218,054","2,834","35,716,069","776,264","46,010,234",South America,5,353,1,,,736
24,16,Taiwan,"9,505,551","+22,291","16,276",+30,"9,081,296","+25,029","407,979",,"397,912",681,"30,092,110","1,259,685","23,888,595",Asia,3,"1,468",1,933,1,"17,078"
25,17,Netherlands,"8,581,421",,"22,989",,"8,546,239",+882,"12,193",53,"498,588","1,336","25,984,435","1,509,718","17,211,447",Europe,2,749,1,,,708
26,18,Iran,"7,564,146",,"144,747",,"7,337,433",,"81,966",224,"87,932","1,683","54,420,785","632,632","86,022,837",Asia,11,594,2,,,953
27,19,Mexico,"7,367,712",+789,"332,190",+8,"6,602,357","+3,814","433,165","4,798","56,001","2,525","19,331,506","146,938","131,562,772",North America,18,396,7,6,0.06,"3,292"
28,20,Indonesia,"6,729,756",+183,"160,810",+7,"6,564,669",+334,"4,277","2,771","24,109",576,"114,158,919","408,975","279,134,505",Asia,41,"1,736",2,0.7,0.03,15
29,21,Poland,"6,378,402",+53,"118,715",,"5,335,940",,"923,747",696,"169,010","3,146","38,107,703","1,009,749","37,739,785",Europe,6,318,1,1,,"24,477"
30,22,Colombia,"6,356,309",,"142,486",,"6,179,501",,"34,322",342,"123,393","2,766","36,951,507","717,327","51,512,762",South America,8,362,1,,,666
31,23,Austria,"5,774,678",,"21,661",,"5,725,317",,"27,700",36,"636,910","2,389","211,273,524","23,302,116","9,066,710",Europe,2,419,0,,,"3,055"
32,24,Greece,"5,708,301",,"35,630",,"5,655,240","+6,735","17,431",115,"553,310","3,454","102,228,365","9,909,078","10,316,637",Europe,2,290,0,,,"1,690"
33,25,Portugal,"5,563,265",,"26,002",,"5,532,153",+92,"5,110",61,"548,615","2,564","45,904,344","4,526,801","10,140,570",Europe,2,390,0,,,504
34,26,Ukraine,"5,370,131",,"111,020",,"5,252,453",+382,"6,658",,"124,331","2,570","32,603,805","754,855","43,192,122",Europe,8,389,1,,,154
35,27,Chile,"5,116,768",,"63,791",,"5,047,963",,"5,014",109,"265,803","3,314","48,112,574","2,499,329","19,250,195",South America,4,302,0,,,260
36,28,Malaysia,"5,036,140",,"36,940",,"4,989,720",,"9,480",21,"151,777","1,113","67,641,728","2,038,564","33,181,072",Asia,7,898,0,,,286
37,29,Israel,"4,784,711",,"12,174",,"4,766,792",,"5,745",57,"513,051","1,305","41,373,364","4,436,346","9,326,000",Asia,2,766,0,,,616
38,30,DPRK,"4,772,813",,74,,"4,772,739",,0,,"183,636",3,,,"25,990,679",Asia,5,"351,225",,,,
39,31,Thailand,"4,726,984",+67,"33,865",+4,"4,692,636",+67,483,"1,496","67,453",483,"17,270,775","246,450","70,078,203",Asia,15,"2,069",4,1.0,0.06,7
40,32,Belgium,"4,691,499",,"33,557",,"4,642,683",+999,"15,259",48,"402,073","2,876","36,548,544","3,132,300","11,668,278",Europe,2,348,0,,,"1,308"
41,33,Czechia,"4,588,820",+48,"42,304",+1,"4,538,178",+7,"8,338",17,"427,392","3,940","56,883,086","5,297,963","10,736,784",Europe,2,254,0,4,0.09,777
42,34,Canada,"4,539,229",,"50,135",,"4,439,542","+2,401","49,552",99,"118,245","1,306","66,343,123","1,728,207","38,388,419",North America,8,766,1,,,"1,291"
43,35,Peru,"4,481,246",,"218,810",,"4,257,373",+492,"5,063",58,"133,037","6,496","37,736,527","1,120,303","33,684,208",South America,8,154,1,,,150
44,36,Switzerland,"4,385,701",,"14,452",,"4,365,109","+1,000","6,140",43,"499,873","1,647","23,318,743","2,657,819","8,773,637",Europe,2,607,0,,,700
45,37,Philippines,"4,073,216",+259,"65,775",+8,"3,997,489",+327,"9,952",162,"36,203",585,"34,318,183","305,026","112,508,994",Asia,28,"1,711",3,2,0.07,88
46,38,South Africa,"4,055,416",,"102,595",,"3,912,506",,"40,315",192,"66,749","1,689","26,473,049","435,726","60,756,135",Africa,15,592,2,,,664
47,39,Romania,"3,325,006","+2,358","67,576",+34,"3,248,650",,"8,780",117,"174,712","3,551","26,389,988","1,386,660","19,031,335",Europe,6,282,1,124,2,461
48,40,Denmark,"3,172,936",,"8,120",,"3,163,395",,"1,421",19,"543,781","1,392","129,135,783","22,131,429","5,834,950",Europe,2,719,0,,,244
49,41,Hong Kong,"2,876,464",+358,"13,338",+5,"2,471,479","+21,235","391,647",28,"378,268","1,754","76,123,870","10,010,636","7,604,299",Asia,3,570,0,47,0.7,"51,503"
50,42,Sweden,"2,693,458",,"23,246",,"2,656,750","+1,766","13,462",12,"263,574","2,275","19,410,527","1,899,460","10,218,971",Europe,4,440,1,,,"1,317"
51,43,Serbia,"2,469,468",,"17,695",,"2,438,598",,"13,175",10,"285,388","2,045","12,131,592","1,402,007","8,653,016",Europe,4,489,1,,,"1,523"
52,44,Iraq,"2,465,545",,"25,375",,"2,439,497",,673,21,"58,474",602,"19,544,451","463,523","42,164,965",Asia,17,"1,662",2,,,16
53,45,Singapore,"2,216,185",,"1,721",,"2,143,778",,"70,686",1,"372,873",290,"24,756,666","4,165,302","5,943,546",Asia,3,"3,454",0,,,"11,893"
54,46,Hungary,"2,191,827",,"48,658",,"2,137,305",,"5,864",11,"228,167","5,065","11,394,556","1,186,160","9,606,259",Europe,4,197,1,,,610
55,47,New Zealand,"2,182,355","+1,510","3,781",+4,"2,169,320","+1,978","9,254",,"445,542",772,"7,710,637","1,574,177","4,898,203",Australia/Oceania,2,"1,295",1,308,0.8,"1,889"
56,48,Bangladesh,"2,037,506",,"29,441",,"1,991,170",,"16,895","1,331","12,136",175,"15,230,793","90,721","167,885,689",Asia,82,"5,702",11,,,101
57,49,Slovakia,"1,860,767",+17,"20,940",+2,"1,839,175",+1,652,28,"340,788","3,835","7,389,371","1,353,317","5,460,193",Europe,3,261,1,3,0.4,119
58,50,Georgia,"1,814,180",,"16,926",,"1,776,548",,"20,706",,"457,118","4,265","16,920,079","4,263,340","3,968,738",Asia,2,234,0,,,"5,217"
59,51,Jordan,"1,746,997",,"14,122",,"1,731,007",,"1,868",59,"169,597","1,371","17,201,885","1,669,945","10,300,869",Asia,6,729,1,,,181
60,52,Ireland,"1,700,253",,"8,462",,"1,685,015","+1,331","6,776",26,"338,682","1,686","12,984,257","2,586,403","5,020,199",Europe,3,593,0,,,"1,350"
61,53,Pakistan,"1,576,286",+15,"30,640",,"1,538,689",,"6,957",11,"6,869",134,"30,570,862","133,213","229,488,994",Asia,146,"7,490",8,0.07,,30
62,54,Norway,"1,477,737",,"5,112",,"1,471,764",,861,20,"268,125",928,"11,002,430","1,996,315","5,511,370",Europe,4,"1,078",1,,,156
63,55,Finland,"1,458,619",,"8,639",,"1,447,180",+306,"2,800",21,"262,580","1,555","12,017,711","2,163,420","5,554,960",Europe,4,643,0,,,504
64,56,Kazakhstan,"1,405,802",+22,"13,695",,"1,383,020",,"9,087",24,"73,200",713,"11,575,012","602,707","19,205,043",Asia,14,"1,402",2,1,,473
65,57,Slovenia,"1,321,220",+63,"7,056",,"1,310,599",+236,"3,565",15,"635,803","3,396","2,823,618","1,358,793","2,078,034",Europe,2,295,1,30,,"1,716"
66,58,Lithuania,"1,295,958",+25,"9,540",+1,"1,281,973",+553,"4,445",9,"486,890","3,584","10,347,251","3,887,448","2,661,708",Europe,2,279,0,9,0.4,"1,670"
67,59,Bulgaria,"1,295,275",,"38,174",,"1,254,252",,"2,849",37,"189,241","5,577","10,980,333","1,604,234","6,844,597",Europe,5,179,1,,,416
68,60,Morocco,"1,272,229",,"16,296",,"1,255,864",,69,3,"33,681",431,"12,927,611","342,247","37,772,756",Africa,30,"2,318",3,,,2
69,61,Croatia,"1,267,524",+13,"17,871",+8,"1,249,116",+59,537,22,"312,253","4,402","5,474,034","1,348,521","4,059,286",Europe,3,227,1,3,2,132
70,62,Lebanon,"1,228,399",,"10,787",,"1,087,587",,"130,025",74,"183,759","1,614","4,795,578","717,380","6,684,849",Asia,5,620,1,,,"19,451"
71,63,Guatemala,"1,227,024",,"20,098",,"1,203,269",,"3,657",5,"66,026","1,081","6,738,524","362,597","18,584,039",North America,15,925,3,,,197
72,64,Bolivia,"1,187,685",+203,"22,345",,"1,145,463",+683,"19,877",220,"99,034","1,863","2,705,422","225,590","11,992,656",South America,10,537,4,17,,"1,657"
73,65,Costa Rica,"1,182,371",,"9,142",,"860,711",,"312,518",52,"228,153","1,764","4,659,757","899,158","5,182,354",North America,4,567,1,,,"60,304"
74,66,Tunisia,"1,150,278",,"29,302",,N/A,N/A,N/A,44,"95,485","2,432","4,996,410","414,755","12,046,656",Africa,10,411,2,,,911
75,67,Cuba,"1,112,422",,"8,530",,"1,103,786",,106,2,"98,395",754,"14,297,708","1,264,651","11,305,652",North America,10,"1,325",1,,,9
76,68,Ecuador,"1,051,239",,"35,942",,"1,011,682",,"3,615",759,"58,037","1,984","3,082,403","170,173","18,113,361",South America,17,504,6,,,200
77,69,UAE,"1,049,274",,"2,348",,"1,032,525",,"14,401",,"104,076",233,"198,601,060","19,698,998","10,081,785",Asia,10,"4,294",0,,,"1,428"
78,70,Uruguay,"1,031,581",,"7,601",,"1,022,055",,"1,925",18,"295,073","2,174","6,114,822","1,749,083","3,496,016",South America,3,460,1,,,551
79,71,Panama,"1,029,061",,"8,594",,"1,019,345",,"1,122",16,"231,408","1,933","7,458,705","1,677,258","4,446,964",North America,4,517,1,,,252
80,72,Mongolia,"1,007,865",,"2,179",,"1,005,642",,44,192,"298,355",645,"4,030,048","1,193,000","3,378,078",Asia,3,"1,550",1,,,13
81,73,Nepal,"1,001,099",+3,"12,020",,"989,059",+1,20,,"33,121",398,"6,003,142","198,611","30,225,582",Asia,30,"2,515",5,0.10,,0.7
82,74,Belarus,"994,037",,"7,118",,"985,592",,"1,327",,"105,381",755,"13,646,641","1,446,722","9,432,800",Europe,9,"1,325",1,,,141
83,75,Latvia,"975,282",+14,"6,214",,"968,753",+15,315,13,"527,511","3,361","7,857,643","4,250,046","1,848,837",Europe,2,298,0,8,,170
84,76,Saudi Arabia,"827,916",+55,"9,571",+1,"815,481",+33,"2,864",25,"23,097",267,"45,043,897","1,256,633","35,844,909",Asia,43,"3,745",1,2,0.03,80
85,77,Azerbaijan,"827,903",,"10,081",,"817,590",,232,,"80,377",979,"7,484,660","726,652","10,300,205",Asia,12,"1,022",1,,,23
86,78,Paraguay,"806,256",,"19,820",,N/A,N/A,N/A,7,"110,358","2,713","2,657,506","363,751","7,305,843",South America,9,369,3,,,"12,061"
87,79,Bahrain,"700,452",,"1,543",,"698,400",,509,15,"392,634",865,"10,682,444","5,987,974","1,783,983",Asia,3,"1,156",0,,,285
88,80,Sri Lanka,"671,987",,"16,828",,"655,158",,1,,"31,145",780,"6,486,117","300,619","21,575,842",Asia,32,"1,282",3,,,0.05
89,81,Kuwait,"662,858",,"2,570",,"660,237",,51,,"151,326",587,"8,455,743","1,930,391","4,380,326",Asia,7,"1,704",1,,,12
90,82,Dominican Republic,"660,095",,"4,384",,"644,785",,"10,926",4,"59,703",397,"3,740,928","338,350","11,056,370",North America,17,"2,522",3,,,988
91,83,Cyprus,"642,663",,"1,287",,"633,422",,"7,954",60,"525,315","1,052","9,640,118","7,879,860","1,223,387",Asia,2,951,0,,,"6,502"
92,84,Myanmar,"633,819",,"19,490",,"614,281",,48,,"11,477",353,"9,934,569","179,886","55,227,143",Asia,87,"2,834",6,,,0.9
93,85,Palestine,"621,008",,"5,404",,"615,445",,159,17,"116,173","1,011","3,078,533","575,907","5,345,541",Asia,9,989,2,,,30
94,86,Estonia,"613,507",,"2,904",,"524,990",,"85,613",3,"464,106","2,197","3,652,850","2,763,312","1,321,910",Europe,2,455,0,,,"64,765"
95,87,Moldova,"598,073",,"11,950",,"504,142",,"81,981",49,"149,028","2,978","3,216,305","801,437","4,013,171",Europe,7,336,1,,,"20,428"
96,88,Venezuela,"551,412",,"5,845",,"544,843",,724,36,"18,841",200,"3,359,014","114,771","29,266,991",South America,53,"5,007",9,,,25
97,89,Egypt,"515,645",,"24,613",,"442,182",,"48,850",122,"4,857",232,"3,693,367","34,792","106,156,692",Africa,206,"4,313",29,,,460
98,90,Libya,"507,159",,"6,437",,"500,717",,5,,"72,032",914,"2,483,446","352,725","7,040,745",Africa,14,"1,094",3,,,0.7
99,91,Ethiopia,"499,466",,"7,572",,"486,472",,"5,422",,"4,134",63,"5,456,759","45,167","120,812,698",Africa,242,"15,955",22,,,45
100,92,Qatar,"492,283",,686,,"491,303",,294,,"165,200",230,"4,065,369","1,364,257","2,979,915",Asia,6,"4,344",1,,,99
101,93,RÃ©union,"485,895",,919,,"418,572",,"66,404",10,"535,091","1,012","1,603,660","1,766,027","908,061",Africa,2,988,1,,,"73,127"
102,94,Honduras,"470,337",,"11,102",,N/A,N/A,N/A,105,"46,016","1,086","1,616,498","158,151","10,221,247",North America,22,921,6,,,"31,962"
103,95,Armenia,"446,008",,"8,717",,"435,162",,"2,129",,"150,072","2,933","3,242,901","1,091,164","2,971,966",Asia,7,341,1,,,716
104,96,Bosnia and Herzegovina,"401,354",+10,"16,253",+1,"379,066",,"6,035",,"123,519","5,002","1,884,406","579,939","3,249,317",Europe,8,200,2,3,0.3,"1,857"
105,97,Oman,"399,154",,"4,260",,"384,669",,"10,225",2,"74,973",800,"25,000,000","4,695,724","5,323,993",Asia,13,"1,250",0,,,"1,921"
106,98,North Macedonia,"346,428",,"9,638",,"336,623",,167,,"166,448","4,631","2,216,193","1,064,810","2,081,304",Europe,6,216,1,,,80
107,99,Kenya,"342,810",,"5,688",,"337,040",,82,1,"6,098",101,"3,967,062","70,569","56,215,221",Africa,164,"9,883",14,,,1
108,100,Zambia,"340,172",,"4,044",,"334,091",,"2,037",,"17,471",208,"3,859,335","198,217","19,470,234",Africa,57,"4,815",5,,,105
109,101,Albania,"334,157",,"3,595",,"328,944",,"1,618",,"116,578","1,254","1,941,032","677,173","2,866,374",Europe,9,797,1,,,564
110,102,Botswana,"328,887",,"2,798",,"325,610",,479,1,"134,726","1,146","2,026,898","830,300","2,441,162",Africa,7,872,1,,,196
111,103,Luxembourg,"297,757",,"1,133",,"288,991",,"7,633",,"463,528","1,764","4,412,567","6,869,188","642,371",Europe,2,567,0,,,"11,883"
112,104,Montenegro,"286,235",,"2,796",,"283,110",,329,6,"455,825","4,453","2,696,125","4,293,535","627,950",Europe,2,225,0,,,524
113,105,Brunei,"275,220",,225,,"243,601",,"31,394",3,"617,873",505,"717,784","1,611,437","445,431",Asia,2,"1,980",1,,,"70,480"
114,106,Algeria,"271,376",,"6,881",,"182,743",,"81,752",,"5,984",152,"230,861","5,091","45,350,148",Africa,167,"6,591",196,,,"1,803"
115,107,Nigeria,"266,463",,"3,155",,"259,850",,"3,458",11,"1,229",15,"5,708,974","26,339","216,746,934",Africa,813,"68,700",38,,,16
116,108,Zimbabwe,"261,606",,"5,652",,"254,951",,"1,003",12,"17,063",369,"2,525,756","164,744","15,331,428",Africa,59,"2,713",6,,,65
117,109,Uzbekistan,"250,508",,"1,637",,"241,486",,"7,385",23,"7,286",48,"1,377,915","40,077","34,382,084",Asia,137,"21,003",25,,,215
118,110,Mozambique,"231,994",,"2,233",,"228,805",,956,11,"7,011",67,"1,371,127","41,437","33,089,461",Africa,143,"14,818",24,,,29
119,111,Martinique,"229,577",,"1,095",,N/A,N/A,N/A,12,"613,699","2,927","828,928","2,215,870","374,087",North America,2,342,0,,,"610,494"
120,112,Laos,"217,967",+5,758,,N/A,N/A,N/A,,"29,136",101,"1,233,207","164,845","7,481,023",Asia,34,"9,869",6,0.7,,"28,011"
121,113,Iceland,"208,605",,229,,N/A,N/A,N/A,2,"603,964",663,"1,996,384","5,780,036","345,393",Europe,2,"1,508",0,,,"384,174"
122,114,Afghanistan,"208,502",+11,"7,879",,"186,076",+36,"14,547",45,"5,116",193,"1,187,514","29,138","40,754,388",Asia,195,"5,173",34,0.3,,357
123,115,Kyrgyzstan,"206,591",,"2,991",,"196,406",,"7,194",131,"30,705",445,"1,907,195","283,460","6,728,271",Asia,33,"2,250",4,,,"1,069"
124,116,El Salvador,"201,785",,"4,230",,"179,410",,"18,145",8,"30,805",646,"2,610,114","398,467","6,550,389",North America,32,"1,549",3,,,"2,770"
125,117,Guadeloupe,"201,394",,"1,007",,N/A,N/A,N/A,19,"503,744","2,519","938,039","2,346,306","399,794",North America,2,397,0,,,"495,598"
126,118,Trinidad and Tobago,"187,585",,"4,319",,"182,868",,398,8,"133,362","3,071","887,114","630,686","1,406,585",North America,7,326,2,,,283
127,119,Maldives,"185,713",,311,,"163,687",,"21,715",25,"343,287",575,"2,213,831","4,092,223","540,985",Asia,3,"1,740",0,,,"40,140"
128,120,Ghana,"171,112",,"1,462",,"169,636",,14,2,"5,282",45,"2,527,319","78,015","32,395,450",Africa,189,"22,158",13,,,0.4
129,121,Namibia,"170,496",,"4,083",,"166,324",,89,,"64,732","1,550","1,062,663","403,460","2,633,874",Africa,15,645,2,,,34
130,122,Uganda,"170,328",,"3,630",,"100,431",,"66,267",3,"3,517",75,"3,012,408","62,198","48,432,863",Africa,284,"13,342",16,,,"1,368"
131,123,Jamaica,"153,407",,"3,480",,"102,212",,"47,715",,"51,391","1,166","1,183,986","396,633","2,985,094",North America,19,858,3,,,"15,984"
132,124,Cambodia,"138,691",+2,"3,056",,"135,622",+1,13,,"8,078",178,"3,091,420","180,062","17,168,639",Asia,124,"5,618",6,0.1,,0.8
133,125,Rwanda,"133,090",,"1,468",,"131,559",,63,,"9,786",108,"5,959,042","438,150","13,600,464",Africa,102,"9,265",2,,,5
134,126,Cameroon,"123,993",,"1,965",,"118,616",,"3,412",13,"4,442",70,"1,751,774","62,762","27,911,548",Africa,225,"14,204",16,,,122
135,127,Malta,"116,953",,824,,"115,473",,656,4,"263,388","1,856","2,107,048","4,745,251","444,033",Europe,4,539,0,,,"1,477"
136,128,Barbados,"106,157",,571,,"105,570",,16,,"368,571","1,982","790,354","2,744,066","288,023",North America,3,504,0,,,56
137,129,Angola,"105,184",,"1,931",,"103,216",,37,,"3,003",55,"1,499,795","42,818","35,027,343",Africa,333,"18,139",23,,,1
138,130,Channel Islands,"101,062",,223,,"100,732",,107,,"572,709","1,264","1,252,808","7,099,551","176,463",Europe,2,791,0,,,606
139,131,French Guiana,"98,028",,420,,"11,254",,"86,354",6,"312,023","1,337","651,257","2,072,951","314,169",South America,3,748,0,,,"274,865"
140,132,DRC,"95,473",,"1,463",,"84,227",,"9,783",,"1,002",15,"846,704","8,890","95,240,792",Africa,998,"65,100",112,,,103
141,133,Senegal,"88,900",,"1,968",,"86,915",,17,,"5,036",111,"1,146,543","64,946","17,653,671",Africa,199,"8,970",15,,,1.0
142,134,Malawi,"88,505",,"2,686",,"85,337",,482,67,"4,386",133,"624,784","30,959","20,180,839",Africa,228,"7,513",32,,,24
143,135,Ivory Coast,"87,981",,833,,"87,136",,12,,"3,171",30,"1,671,604","60,255","27,742,298",Africa,315,"33,304",17,,,0.4